#msg {
  border:1px solid #333;
  background-color:#ccc;
  padding: 2em;
  word-wrap: break-word;
  margin-bottom: 2em;
}
#display {
  padding:2em;
  border: 1px solid #999;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Give our markers a background image */

.leaflet-marker-icon {
  background: url(https://foursquare.com/img/pin-blue-transparent.png);
  padding: 6px;
  padding-bottom: 17px;
  top: -6px;
  left: -6px;
}

.search {
  margin-top: 10px;
  text-align: center;
}

.search-input {
  width: 180px;
  height: 30px
}

.search-btn {
  width: 80px;
  height: 35px
}

.venue_table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}